<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Navbar -->
<nav class="navbar">
    <a href="/" class="{% if request.path=='/' %}active{% endif %}">Home</a>
    <a href="/products" class="{% if '/products' in request.path %}active{% endif %}">Products</a>
    <a href="/cart" class="{% if '/cart' in request.path %}active{% endif %}">My Cart</a>
    <a href="/login" class="{% if '/login' in request.path %}active{% endif %}">Login</a>
    <a href="/register" class="{% if '/register' in request.path %}active{% endif %}">Register</a>
</nav>
<h2>Login</h2>

<form method="POST" action="/login">
    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <input type="submit" value="Login">
</form>

</body>
</html>